*,
::before,
::after
body {
    overflow: auto;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
.joining , .logo , .mid_head{
    width: 33.3%;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Inter';
    font-style: normal;
    color: white;
}
.megamain{
    display: flex;
    background-color:rgb(12,17,33);
    height: 5.3vw;
}
.mid_head h1{
    color: white;
    font-size: 1vw;
    font-weight: 500;
}
.mid_head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 31.2%;
}
.joining{
    width: 29.8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.joining h1{
    font-size: 0.7vw;
    color: white;
    font-weight: 500;
}
.joining{
    button{
        border-radius: 0.4vw;
        padding-inline: 0.6vw;
        padding-block: 0vw;
        background-color: rgb(81,42,239);
    }
    button:hover{
        background-color: transparent;
        border-color: rgb(0,207,253);
        border-style: solid;
        box-shadow: 0vw 0vw 0.6vw rgb(0 207 253);
        h1{
            color: rgb(0,207,253);
        }
    }
}
.logo{
    width: 35.1%;
    /* Vector */
    .svg1{
        position: absolute;
        height: 1.4vw;
        width: 1.4vw;
        left: 12.8vw;
        right: 0vw;
        top: 2vw;
    }
    .svg2{
        position: absolute;
        height: 2vw;
        width: 7.6vw;
        left: 14.3vw;
        right: 0vw;
        top: 1.9vw;
    }

}
.main_block{
    display: flex;
    flex-direction: column;
    background: #030717;
}
.change_offers{
    display: flex;
    flex-direction: column;
    margin-block-start: 4.2vw;
}
.change2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block-start: -1vw;
    margin-inline-start: 10.8vw;
    h1{
        color: white;
        font-size: 1vw;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: -1.9vw;
        margin-inline-end: 0;
        font-weight: 500;
    }
}
.picture_text , .picture_text2 , .picture_text3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.change1{
    h1{
        margin-inline-start: 13.6vw;
        font-size: 1.68vw;
        color: white;
    }
}
.svg3 , .svg5 , .svg7{
    height: 9.7vw;
    width: 9.7vw;
}
.svg4 , .svg6{
    margin-inline-start: 4.6vw;
    margin-inline-end: 2.1vw;
}
.give_get {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-inline: 13.7vw;
    margin-block-start: 1.9vw;
    justify-content: space-between;
}

.gg1 , .gg2 , .gg3{
    display: flex;
    flex-direction: column;
}
.color{
    position: absolute;
    width: 994.98px;
    height: 773.81px;
    left: -97.84px;
    top: 15vw;
    pointer-events: none;
    background: radial-gradient(50% 50% at 43.38% 54.84%, rgba(0, 207, 253, 0.12) 0%, rgba(0, 207, 253, 0) 100%);
    transform: rotate(19.96deg);
}
.color2{
    position: absolute;
    width: 31vw;
    height: 50vw;
    right: 0vw;
    pointer-events: none;
    background: radial-gradient(50% 50% at 50% 50%, rgba(81, 42, 239, 0.2) 0%, rgba(81, 42, 239, 0) 100%);
}
.give{
    display: flex;
    align-items: center;
    h1{
        font-size: 1.08vw;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: 500;
        letter-spacing: 0.03vw;
        margin-inline-end: 0.6vw;
    }
}
.choice_pay{
    display: flex;
    align-items: center;
    margin-block-start: 1.6vw;
    h1{
        font-size: 0.81vw;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0.5vw;
        margin-inline-end: 0;
        font-weight: 500;
        letter-spacing: 0.01vw;
    }
}
.count{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block-start: 0.8vw;
    h1{
        font-size: 1.1vw;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h2{
        font-size: 1vw;
        margin-block-start: 0;
        margin-block-end: 0;
        color: red;
    }
    h3{
        margin-inline-end: 1vw;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h4{
        margin-block-start: 0.1vw;
        margin-block-end: 0;
        margin-inline-start: 3vw;
        font-size: 0.7vw;
        letter-spacing: 0.01vw;
        font-weight: 500;
    }
    h5{
        margin-block-start: 0.1vw;
        margin-block-end: 0;
        margin-inline-start: 1.5vw;
        font-size: 0.7vw;
        letter-spacing: 0.01vw;
        font-weight: 500;
    }
}
.svg9{
    width: 1.8vw;
    height: 1.8vw;
}
.svg10{
    width: 0.8vw;
    height: 0.8vw;
    margin-inline-start: 0.2vw;
}
.svg11{
    width: 1vw;
    height: 1vw;
}
.count_input{
    margin-block-start: 1.65vw;
    h2{
        font-size: 0.7vw;
        margin-block-start: 0.5vw;
        margin-block-end: 0;
        color: red;
        font-weight: 500;
    }
}
.count_inp{
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: white;
}
.count_inp:hover{
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
}
.count_inp:focus{
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
}
.count_inp:focus-visible{
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    outline: none;
}
.count_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11vw;
    background: linear-gradient(180deg, #00CFFD 0%, #512AEF 78.95%);
    box-shadow: -2px 0px 50px rgb(90 255 245 / 32%);
    border: none;
    border-radius: 2vw;
    margin-block-start: 2.7vw;
    h1{
        font-size: 1vw;
        margin-block-start: 0.8vw;
        margin-block-end: 0.8vw;
        margin-inline: 0.4vw;
        font-weight: 500;
        letter-spacing: 0.01vw;
    }
}
.gg2{
    margin-inline-start: -19.5vw;
}
.get{
    display: flex;
    align-items: center;
    h1{
        font-size: 1.1vw;
        margin-block-start: 0;
        margin-block-end: 0;
        letter-spacing: 0.02vw;
        font-weight: 500;
        margin-inline-end: 0.6vw;
    }
}
.choose{
    margin-block-start: 2.1vw;
    display: flex;
    align-items: center;
    h1{
        font-size: 0.8vw;
        margin-block: 0;
        font-weight: 500;
        margin-inline-end: 0.5vw;
    }
}
.choose_pay{
    display:none;
    margin-block-start: 4.9vw;
    border-style: solid;
    border-color: rgba(81, 42, 239, 1);
    position: absolute;
    padding: 0.650vw;
}
.choose:hover + .choose_pay {
    display: flex;
    flex-direction: column;
}
.choose:active + .choose_pay {
    display: flex;
    flex-direction: column;
}
.choose:focus + .choose_pay {
    display: flex;
    flex-direction: column;
}
.currency{
    display: flex;
    margin-block-end: 2.1vw;
    h1{
        font-size: 0.8vw;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-end: 1.12vw;
        font-weight: 500;

    }
}
.payment{
    display: flex;
    align-items: center;
    padding-inline: 0.6vw;
    background-color: rgba(81, 42, 239, 1);
    border-radius: 0.3vw;
    h1{
        font-size: 0.83vw;
        margin-block: 0.4vw;
        margin-inline-start: 0.6vw;
        font-weight: 500;
    }
}
.show{
    display:block;
}
.payment:focus{
    background-color: rgba(0, 207, 253, 1);
}



.kyrs_valyt{
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;
    background-color: #05203b;
    width: 17vw;
    height: 10vw;
    margin-block-start: 0.2vw;
    margin-block-end: 1vw;

}
.kyrs_1{
   display: flex;
   flex-direction: row;
   margin-block: 1vw;
   height: 1vw;
   align-items: center;
   margin-left: 0.3vw;
     h2{
     font-size: 1vw;
     font-weight: 500;
     margin-inline: 0.3vw;
     }
}
.sb_icon{
    width: 1.5vw;
    width: 1.5vw;
}
.kyrs_v{
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 42, 239);
    width: 17vw;
    align-items: center;
     h1{
        font-size: 1vw;
        font-weight: 500;
        margin-inline: 0.3vw;
        margin: 0.2vw;
     }
}
.posl_obm{
    border-radius: 0.4vw;
    display: flex;
    background-color: #05203b;
    width: 17vw;
    margin-block-start: 0.2vw;
    margin-block-end: 1vw;
    flex-direction: column;
}
.obm0{
    display: flex;
    flex-direction: row;
    margin-block: 1vw;
    height: 1vw;
    align-items: center;
    margin-left: 1vw;
      h3{
      font-size: 1vw;
      font-weight: 500;
      margin-inline: 0.3vw;
      }
}
.obm1{
    display: flex;
    flex-direction: row;
    margin-block-start: 0.5vw;
    margin-block-end: 1vw;
    height: 1vw;
    align-items: center;
    margin-left: 1vw;
      h3{
      font-size: 2vw;
      font-weight: 500;
      margin-inline: 0.3vw;
      }
}
.sb_icon1{
    width: 2.2vw;
    width: 2.2vw;
    margin-right: 1.5vw;
}
.sb_icon2{
    width: 2.2vw;
    width: 2.2vw;
    margin-left: 1.5vw;
}
.vs_obm{
    display: flex;
    flex-direction: row;
}
.vs_obm1{
    display: flex;
    flex-direction: column;
    margin-left: 1.4vw;
    margin-block-end: 1vw;
    margin-block-start: 0.3vw;
}
.vs_obm2{
    display: flex;
    flex-direction: column;
    margin-left: 5.2vw;
    margin-block-end: 1vw;
    margin-block-start: 0.3vw;
}

.obm2{
    display: flex;
    flex-direction: row;
    height: 1vw;
    align-items: center;
      h3{
      font-size: 1vw;
      font-weight: 500;
    }
}
.obm3{
    display: flex;
    flex-direction: row;
    height: 1vw;
    align-items: center;
      h3{
      font-size: 1vw;
      font-weight: 500;
    }
}
.obm4{
    display: flex;
    flex-direction: row;
    height: 1vw;
    align-items: center;
      h3{
      font-size: 1vw;
      font-weight: 500;
    }
}
.obm5{
    display: flex;
    flex-direction: row;
    height: 1vw;
    align-items: center;
      h3{
      font-size: 1vw;
      font-weight: 500;
    }
}
.podval {
  display: flex;
  background: #0c1021;
  width: 100%;
  height: 7vw;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.picture {
  margin-block-start: 2.3vw;
}
.podval_txt {
  display: flex;
  flex-direction: column;
}
.podval_txt1 {
  display: flex;
  flex-direction: row;
}
.podval_txt1  h3 {
  margin-block-start: 2vw;
  margin-block-end: 0vw;
  font-size: 1.5vw;
  font-weight: 400;
  }
.podval_txt1  h2 {
  margin-block-start: 2vw;
  margin-block-end: 0vw;
  font-size: 1.5vw;
  font-weight: 700;
  }
.podval_txt2  h3 {
  color: #FFFFFFA6;
  margin-block-start: -0.2vw;
  margin-left: 0.3vw;
  font-size: 0.6vw;
  font-weight: 400;
  }
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15vw;
  margin-block-end: 1vw;
}
.social1 {
  margin-right: 0.9vw;
}
.social2 {
  margin-right: 0.9vw;
}